body {
    background-color: #F5C518;
    margin: 0;
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-top: 50px;
}

td, th {
    padding: 50px;
    text-align: left;
}
th {
    background-color: #FFFFFF;
}